@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*:root
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Merriweather', serif;
    line-height: 1.5;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

/* NAVBAR */

#navbar 
{
    background-color: antiquewhite;
    height: 90px;
    padding: 0px;
}

#navbar .logo
{
    color: white;
}

#navbar ul 
{
    display: flex;
}

#navbar ul li 
{
    padding: 10px;
    margin: 0 5px;
}

#navbar ul li:hover
{
    border-bottom: 2px solid white;
}

#navbar .flex
{
    justify-content: space-between;
}

/* SLIDER */

#slider
{
    background-color: aqua;
}

#slider .container
{
    height: 820px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#slider .image-container
{
    height: 820px;
    width: 100%;
    overflow: hidden;
}

.container i.button
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color: bisque;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
}

i.button:active
{
    transform: scale(0.94) translateY(-50%);
}

i#prev
{
    left: 5%;
}

i#next
{
    right: 5%;
}

.image-container .carousel
{
    height: 100%;
    width: 100%;
    display: flex;
    transition: all 0.4s ease;
}

.carousel img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#gallery .container
{
    width: 1200px;
    margin: 20px auto;
    columns: 4;
    column-gap: 40px;
}

#gallery .container .box
{
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    break-inside: avoid;
}

#gallery .container .box img
{
    max-width: 100%;
}

#gallery .container .box h2
{
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
}

/* UTILITIESs */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width:650px) {
    #navbar
    {
        background-color: antiquewhite;
        height: 150px;
    }

    #navbar .logo
    {
        margin-left: 150px ;
    }
}